# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Android/IntelliJ
.gradle/
build/
local.properties
*/android/app/src/main/assets/flutter_assets/*
android/app/google-services.json
key.properties

# Android/Eclipse
bin/
gen/

# Android/ADT
.project
proguard.cfg
proguard.cfg

# Xcode
.xcworkspace/
build/
DerivedData/
*.hmap
*.xccheckout
# CocoaPods
Pods/
# Carthage
Carthage/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/
/android/
/web/
/windows/
/linux/
/macos/
lib/firebase_options.dart
google-services.json
firebase_options.dart
firebase.json
.env
.env.*